@import "tailwindcss";

@theme {
  /* Font families */
  --font-space: "Space Mono", monospace;
  --font-roboto: "Roboto Flex";

  /* Colors */
  --color-primary: #000000;
  --color-secondary-600: #1e212833;
  --color-secondary-300: #668aff33;
  --color-accent: #668affff;
  --color-neutral-100: #f3f4f6ff;
  --color-neutral-200: #bdc1caff;
  --color-neutral-300: #9095a0;
  --color-neutral-900: #000000be;
  --color-accent-dblue: #00124d;
  --color-red-accent: #ef4444ff;
  --color-green-accent: #22c55eff;

  --color-bg: var(--color-primary);

  --color-modal: rgba(102, 138, 255, 0.05);

  --color-card-gradient: rgba(225, 225, 225, 0.06);

  /* Gradients */
  --gradient-accent: linear-gradient(90deg, #668affff 0%, #00d154ff 100%);
  --gradient-bg: linear-gradient(to bottom, #000000, #000005);
  --gradient-secondary: linear-gradient(
    138.82deg,
    #000000ff 0%,
    #3c07648f 50%,
    #000000ff 100%
  );

  /* Shadows */
  --shadow-sm: 0px 0px 1px var(--clr-shadow), 0px 0px 2px var(--clr-shadow-sup);
}

button {
  @apply cursor-pointer;
}

dialog::backdrop {
  @apply bg-black opacity-40;
}
body:has(dialog[open]) {
  filter: blur(15px);
  /* to remove the white borders caused by blur */
  transform: scale(1.2);
  overflow: hidden;
}
html,
body {
  background-color: var(--color-primary);
}

:root {
  --clr-shadow: #171a1f;
  --clr-shadow-sup: #171a1f14;
}

html[data-theme="dark"] {
  @theme;
}

html[data-theme="light"] {
  /* Colors */
  --color-primary: #f9fafb;
  --color-neutral-100: #111827;
  --color-neutral-200: #4b5563;
  --color-neutral-300: #0f1013;
  --color-accent: #3b5ebc;
  --color-accent-dblue: #1e3a8a;
  --color-red-accent: #ab1313;
  --color-secondary-600: #ffffff40;
  --color-secondary-300: #d1d5db;

  --color-neutral-900: #e4e9f3ca;

  --color-green-accent: #297846;

  --color-bg: #d1d5db;

  --color-modal: #fafafa7e;

  --color-card-gradient: #4f9afd24;

  /* Gradients */

  --gradient-bg: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.card {
  --card-gradient: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    var(--color-card-gradient),
    transparent 40%
  );
}

.cursor-trail {
  --trail-gradient: radial-gradient(
    var(--trail-size) circle at var(--mouse-x) var(--mouse-y),
    var(--color-card-gradient),
    transparent 40%
  );
}

dialog[open] {
  animation: open 1s forwards;
}

.coin-mobile {
  animation: drift 8s ease-in-out infinite;
}

@keyframes open {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes drift {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(10px, -20px) rotate(5deg);
  }
  50% {
    transform: translate(-10px, -10px) rotate(-5deg);
  }
  75% {
    transform: translate(10px, 20px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
